{% extends 'base.html' %}

{% load static %}

{% block title %}
Главная
{% endblock %}

{% block header %}

    <div class="hero row align-items-center">
                        <div class="col-md-7">
                            <h2>Лучшие и надежные</h2>
                            <h2><span>Услуги по уборке</h2>
                            <p>Создавать и поддерживать дома ощущение чистоты - целое искусство.
                                Мы отправляем к вам не просто уборщиков, а сертифицированных специалистов и настоящих мастеров своего дела.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="form">
                                <h3>Оставить заявку</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-block">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block main %}

            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{% static 'img/about.jpg' %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-text">
                                <h2><span>10</span> Лет Опыта</h2>
                                <p>
                                    У нас собственная Школа клининга
                                    Все исполнители проходят обязательное обучение технологическим процессам уборки. Мы жестко контролируем стандарты качества оказываемых услуг. Познакомьтесь с теми, кто каждый день доказывает, что уборка – это больше, чем простое ремесло
                                </p>
                                <a class="btn" href="">Узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header">
                        <p>Наши Услуги</p>
                        <h2>Предоставляем услуги по всему миру</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <img src="{% static 'img/service-1.jpg' %}" alt="Service">
                                <h3>Уборка полов</h3>
                                <p>
                                    Отмоем пол по высшему разряду
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <img src="{% static 'img/service-2.jpg' %}" alt="Service">
                                <h3>Очистка окон</h3>
                                <p>
                                    Используем олько профессиональные средства
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <img src="{% static 'img/service-3.jpg' %}" alt="Service">
                                <h3>Очитстка и полировка мебели</h3>
                                <p>
                                    Используем специальный антистатик, после которого, ваша мебель будет долго оставаться без пыли
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <img src="{% static 'img/service-4.jpg' %}" alt="Service">
                                <h3>Уборка туалета</h3>
                                <p>
                                    Наши специалисты отмоют вашего надежного друга за 5 минут
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service End -->


            <!-- Feature Start -->
            <div class="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-header left">
                                <p>Почему выбирают именно нас</p>
                                <h2>МЫ эксперты по уборке и услугам мирового класса</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                    <img src="{% static 'img/feature-1.jpg' %}" alt="Feature">
                                </div>
                                <div class="col-7">
                                    <h3>Лучшие чистящие средства</h3>
                                    <p>
                                        Все наши стредства изготавливаюся на специализированных заводах.
                                    </p>
                                </div>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                    <img src="{% static 'img/feature-2.jpg' %}" alt="Feature">
                                </div>
                                <div class="col-7">
                                    <h3>Разумные цены</h3>
                                    <p>
                                        Не возьмем лишнего
                                    </p>
                                </div>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                    <img src="{% static 'img/feature-3.jpg' %}" alt="Feature">
                                </div>
                                <div class="col-7">
                                    <h3>Быстро и качественно</h3>
                                    <p>
                                        Всю работу выполним в скрок и с должным образом
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End -->


            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header">
                        <p>Наша команда</p>
                        <h2>Профессианалы своего дела</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-1.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Пётр</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-2.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Елизавета</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-3.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Евгений</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static 'img/team-4.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Людмила</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->


            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-header left">
                                <h2>Часто задаваемые вопросы</h2>
                            </div>
                            <img src="{% static 'img/faqs.jpg' %}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                            <span>1</span> Суолько стоит уборка?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Все будет зависеть от площади вашего дома, количество комнат и т.д Лучше нам позвоните и мы вам все расчитаем.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                            <span>2</span> Выезжаете ли вы загород?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Да, выезжаем
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                            <span>3</span> Как происходит оценка качества уборки?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Мы делаем фотографии до и после уборки
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn" href="">Спросить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->


            <!-- Pricing Plan Start -->
            <div class="price">
                <div class="container">
                    <div class="section-header">
                        <p>Наши Цены</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="price-item">
                                <div class="price-header">
                                    <div class="price-icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="price-title">
                                        <h2>Стандарт</h2>
                                    </div>
                                    <div class="price-pricing">
                                        <h2>5000 руб</h2>
                                    </div>
                                </div>
                                <div class="price-body">
                                    <div class="price-des">
                                        <ul>
                                            <li>5 Спален</li>
                                            <li>3 Душевые</li>
                                            <li>2 Гостинные</li>
                                            <li>Уборка пылесосом</li>
                                            <li>6 часов</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price-footer">
                                    <div class="price-action">
                                        <a href="book/" class="button-book" ><i class="fa fa-shopping-cart"></i>Забронировать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-item">
                                <div class="price-header">
                                    <div class="price-icon">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="price-title">
                                        <h2>Премиум</h2>
                                    </div>
                                    <div class="price-pricing">
                                        <h2>10 000 руб</h2>
                                    </div>
                                </div>
                                <div class="price-body">
                                    <div class="price-des">
                                        <ul>
                                            <li>5 Спален</li>
                                            <li>3 Душевые</li>
                                            <li>2 Гостинные</li>
                                            <li>Уборка пылесосом</li>
                                            <li>6 часов</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price-footer">
                                    <div class="price-action">
                                        <a href="book/" class="button-book"><i class="fa fa-shopping-cart"></i>Забронировать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-item">
                                <div class="price-header">
                                    <div class="price-icon">
                                        <i class="fa fa-gift"></i>
                                    </div>
                                    <div class="price-title">
                                        <h2>VIP</h2>
                                    </div>
                                    <div class="price-pricing">
                                        <h2>20 000 руб</h2>
                                    </div>
                                </div>
                                <div class="price-body">
                                    <div class="price-des">
                                        <ul>
                                            <li>5 Спален</li>
                                            <li>3 Душевые</li>
                                            <li>2 Гостинные</li>
                                            <li>Уборка пылесосом</li>
                                            <li>6 часов</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price-footer">
                                    <div class="price-action">
                                        <a href="book/" class="button-book"><i class="fa fa-shopping-cart"></i>Забронировать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pricing Plan End -->


            <!-- Newsletter Start -->
            <div class="newsletter">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h2>Получить скидку</h2>
                            <p>
                                Расскажи о нас своим друзьям и знакомым и мы дадим тебе скидку!
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <input class="form-control" placeholder="Email">
                                <button class="btn">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Newsletter End -->


            <!-- Testimonial Start -->
            <div class="testimonial">
                <div class="container">
                    <div class="section-header">
                        <p>Отзывы</p>
                    </div>
                    <div class="owl-carousel testimonials-carousel">
                        <div class="testimonial-item">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-1.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-content">
                                <p>
                                    Все отлично!
                                </p>
                                <h3>Павел</h3>
                                <!-- <h4>Profession</h4> -->
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-2.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-content">
                                <p>
                                    Пять звёзд, качественно и быстро!
                                </p>
                                <h3>Ирина</h3>
                                <!-- <h4>Profession</h4> -->
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-3.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-content">
                                <p>
                                    Нормально!
                                </p>
                                <h3>Дмитрий</h3>
                                <!-- <h4>Profession</h4> -->
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-4.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-content">
                                <p>
                                    Cпасибо "Уборка по УМУ"!
                                </p>
                                <h3>Светлана</h3>
                                <!-- <h4>Profession</h4> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->

            <!-- Blog Start -->
            <div class="blog">
                <div class="container">
                    <div class="section-header">
                        <p>Новости</p>
                        <h2>Будь в курсе наших событий</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-item">
                                <img src="{% static 'img/blog-1.jpg' %}" alt="Blog">
                                <h3>Коттедж Петровкая 3</h3>
                                <div class="meta">
                                    <i class="fa fa-list-alt"></i>
                                    <a href="">Очистка кухни</a>
                                    <i class="fa fa-calendar-alt"></i>
                                    <p>11-Jun-20</p>
                                </div>
                                <p>
                                    ""
                                </p>
                                <!-- <a class="btn" href="">Learn More</a> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-item">
                                <img src="{% static 'img/blog-2.jpg' %}" alt="Blog">
                                <h3>Склада на Чилиева 4</h3>
                                <div class="meta">
                                    <i class="fa fa-list-alt"></i>
                                    <a href="">Уборка склада</a>
                                    <i class="fa fa-calendar-alt"></i>
                                    <p>11-Jun-20</p>
                                </div>
                                <p>
                                    ""
                                </p>
                                <!-- <a class="btn" href="">Learn More</a> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-item">
                                <img src="{% static 'img/blog-3.jpg' %}" alt="Blog">
                                <h3>Офис на Луначарского 5</h3>
                                <div class="meta">
                                    <i class="fa fa-list-alt"></i>
                                    <a href="">Уборка пола</a>
                                    <i class="fa fa-calendar-alt"></i>
                                    <p>11-Jun-20</p>
                                </div>
                                <p>
                                    ""
                                </p>
                                <!-- <a class="btn" href="">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog End -->

{% endblock %}

{% block footer %}

            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-contact">
                                <h2>Как с нами связаться</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Санкт-Петербург, ул. Куйбышева 44</p>
                                <p><i class="fa fa-phone-alt"></i>+7 921 000 00 00 </p>
                                <p><i class="fa fa-envelope"></i>cleanupotus@gmail.com</p>
                                <div class="footer-social">
                                    <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-link">
                                <h2>Полезные ссылки</h2>
                                <a href="/about">О нас</a>
                                <a href="/service">Услуги</a>
                                <a href="/project">Проекты</a>
                                <a href="/contact">Контакты</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-form">
                                <h2>Оставить заявку</h2>
                                <input class="form-control" placeholder="Email">
                                <button class="btn">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

{% endblock %}

