{% extends 'base.html' %}

{% load static %}

{% block title %}
Проекты
{% endblock %}

{% block main %}

            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header">
                        <p>Наши проекты</p>
                        <h2>Можно посмотреть наши запущенные проекты</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">Все</li>
                                <li data-filter=".completed">Завершенные</li>
                                <li data-filter=".ongoing">Открытые</li>
                                <li data-filter=".upcoming">В процессе</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-1.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-1.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 1</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-2.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-2.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 2</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-3.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-3.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 3</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-1.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-1.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 4</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-2.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-2.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 5</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-3.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-3.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 6</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-1.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-1.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 7</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-2.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-2.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 8</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-3.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-3.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 9</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-1.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-1.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 10</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-2.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-2.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 11</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'img/portfolio-3.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'img/portfolio-3.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Проект 12</a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Start -->

{% endblock %}

{% block footer %}

            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-contact">
                                <h2>Как с нами связаться</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Санкт-Петербург, ул. Куйбышева 44</p>
                                <p><i class="fa fa-phone-alt"></i>+7 921 000 00 00 </p>
                                <p><i class="fa fa-envelope"></i>cleanupotus@gmail.com</p>
                                <div class="footer-social">
                                    <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-link">
                                <h2>Полезные ссылки</h2>
                                <a href="/about">О нас</a>
                                <a href="/service">Услуги</a>
                                <a href="/project">Проекты</a>
                                <a href="/contact">Контакты</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-form">
                                <h2>Оставить заявку</h2>
                                <input class="form-control" placeholder="Email">
                                <button class="btn">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

{% endblock %}