{% extends 'base.html' %}

{% load static %}

{% block title %}
Забронировать
{% endblock %}

{% block header %}

    <div class="hero row align-items-center">
        <div class="col-md-7">
            <h2>Лучшие и надежные</h2>
            <h2><span>Услуги по уборке</h2>
            <p>Создавать и поддерживать дома ощущение чистоты - целое искусство.
                Мы отправляем к вам не просто уборщиков, а сертифицированных специалистов и настоящих мастеров своего дела.</p>
        </div>
        <div class="col-md-5">
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-block">Забронировать</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
