{% extends 'base.html' %}

{% load static %}

{% block title %}
Ваше бронирование
{% endblock %}

{% block main %}

            <!-- Book Start -->
            <div class="contact">
                <div class="container">
                    <div class="section-header">
                        <p>Ваше бронирование</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <div class="form-row">

                                     <table class="table">
                                          <thead class="thead-light">
                                                <tr>


                                                      <th scope="col">Услуга</th>
                                                      <th scope="col">Тип уборки</th>
                                                      <th scope="col">Комната</th>
                                                      <th scope="col">Количество комнат</th>
                                                      <th scope="col"></th>
                                                      <th scope="col"></th>



                                                </tr>
                                          </thead>
                                          <tbody>

                                                {% for cleanlist in object_list %}

                                                <tr>

                                                      <td>{{ cleanlist.place }}</td>
                                                      <td>{{ cleanlist.type_clean }}</td>
                                                      <td>{{ cleanlist.type_rooms }}</td>
                                                      <td>

                                                          <select class="custom-select">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                          </select>

                                                      </td>

                                                      <td>

                                                          <a href="/book/delete_books/{{ cleanlist.pk }}" class="btn-danger btn-sm">Удалить</a>

                                                      </td>
                                                      <td>

                                                          <a style="margin-right: -15px" href="/book/" class="btn-info btn-sm">Добавить</a>

                                                      </td>

                                                </tr>

                                                {% endfor %}

                                          </tbody>
                                     </table>

                                    <div class="offset-10 col-md-2">
                                        <a href="#" style="margin: 50px; background: #FFD662; color: #000000; font-weight: 400" class="btn-lg btn-primary ">Заказать</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <!-- Book End -->

{% endblock %}


